<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Editcion de <%=user.user_name  %> </title>
    <link rel="icon" type="image/x-icon" href="/img/logoFace.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/register.css"> <!--Enlazar HTML y CSS-->
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
</head>
<body>    
      <!-- HEADER-->
  <%- include('../partials/header') %>

    <main class="register">
        
       
        <form method="POST" action="/user/edit/<%= user.id%>" enctype="multipart/form-data">
            <h1>Edición del Usuario <%= user.full_name %> </h1>
            <label for="full_name"> Nombre 
                <input type="text" placeholder="Nombre completo"  name="full_name" id="full_name" value="<%= user.full_name%>">
            </label>
            <label for="user_name">Nombre de Usuario
                <input type="text" placeholder="Nombre de Usuario"  name="user_name" id="user_name" value="<%= user.user_name%>">
            </label>
            <label for="email">Correo </span>
                <input type="email" placeholder="Email"  name="email" id="email" value="<%= user.email%>" disabled>
            </label>  
            <label for="profilePicture"><span class="iconify" data-icon="jam:picture" data-width="25" data-height="25"></span>
                <div  class="file-upload"> 
                    <img src="" alt="">
                    <p>Sube tu imagen de perfil</p>
                    <input  type="file" name="profile_picture" id="profilePicture" accept=".jpg" > 
                </div>
                
            </label>
            <label for="category_user_id">
                
                
            
            <div class="buttons">
                <input type="submit" value="Guardar" class="btn">
            </div>
        </form>
    </main>
    
    <!-- FOOTER-->
   <%- include('../partials/footer') %>
    
</body>
</html>