<div class="container container-sm container-md container-recommendations">
    <div class="row">
        <!-- Show the "visited" products -->
        <% products.forEach(product => { 
            %> 
    <div class="col-12 col-sm-6 col-lg-3">
        <section class="recommendations-section">
            <article class="recommendation-product">                
                <img src="img/productsImages/<%= product.image%>" alt="imagen del producto">
                <div class="product-price">
                    <h3><%=product.product_name%></h3>
                    <p><%= product.product_description%> </p>
                    <p>$<%=toThousand(product.price)%></p>
                    <div class="button-view-details">
                       <a href="/products/product-detail/<%= product.id%>">ADD TO CART</a>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <% }); %>

    </div>