<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/logoFace.svg">

        <link rel="stylesheet" href="/css/product-detail.css" type="text/css">
        <script src="https://kit.fontawesome.com/6fda1860f4.js" crossorigin="anonymous"></script>

        <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
       
       <title><%= products.product_name%> </title>
    </head>
<body>

     <!-- HEADER-->
  <%- include('partials/header') %>

    <main>
        <!-- Detail Product Section-->
        <section class="detail-product-section">
            <article>
                <div class="gallery-image">
                    <picture class="order-reverse">
                        <img src="/img/productsImages/<%= products.image%>" alt="<%= products.product_name %> ">
                        <img src="/img/caja-deadpool.jpg" alt="<%= products.productName%>">
                    </picture>
                    <picture class="main-image-product">
                        <img src="/img/productsImages/<%= products.image%>" alt="<%= products.product_ame %> ">
                    </picture>
                </div>
                <div class="description-product">
                    <h1><%=products.product_name%></h1>

                    <p>$<%=toThousand(products.price)%></p>
                    <p><%= products.decription%> </p>
                    <div class="select-button-pair">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option><option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <button>Comprar Ahora</button>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
            </article>
        </section>
        
        
        
             
    </main>

    
   <!-- FOOTER-->
   <%- include('partials/footer') %>

   
</body>
</html>