<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/detalle-producto.css" type="text/css">
        <script src="https://kit.fontawesome.com/6fda1860f4.js" crossorigin="anonymous"></script>

        
       
       <title><%= product.productName%> </title>
    </head>
<body>

     <!-- HEADER-->
  <%- include('partials/header') %>

    <main>
        <!-- Detail Product Section-->
        <section class="detail-product-section">
            <article>
                <div class="gallery-image">
                    <picture class="order-reverse">
                        <img src="/img/productsImages/<%= product.image%>" alt="<%= product.productName %> ">
                        <img src="/img/caja-deadpool.jpg" alt="<%= product.productName%>">
                    </picture>
                    <picture class="main-image-product">
                        <img src="/img/productsImages/<%= product.image%>" alt="<%= product.productName %> ">
                    </picture>
                </div>
                <div class="description-product">
                    <h1><%=product.productName%></h1>

                    <p>$<%=toThousand(product.price)%></p>
                    <p><%= product.decription%> </p>
                    <div class="select-button-pair">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option><option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <button>Comprar Ahora</button>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
            </article>
        </section>
        
        <!--Recomendation section-->
        <% const { funkos, condition}= carousel %> 
        <section recommendations-section>      
            <div class="container">
                <h1>Recomendados</h1>
                <div class="slider">
                    <div class="slide-track">
                      <ul class="slider-products">
                        <% funkos.forEach(product => { %>
                        <li class="card">
                            <article class="recommendation-product">
                        
                                <img src="/img/productsImages/<%= product.image%>"  alt="<%= product.productName %> ">
                                <div class="product-price">
                                    <h3><%=product.productName%></h3>
                                    <p>$<%=toThousand(product.price)%></p>
                                    <div class="button-view-details">
                                      <a href="/product-detail/<%= product.id%>">VER DETALLES</a>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <%}); %>
                      </ul>
                    </div>
                  </div>
            </div>       
      
        </section>
        
             
    </main>

    
   <!-- FOOTER-->
   <%- include('partials/footer') %>

   
</body>
</html>