<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hola <%=user.userName%></title>
    <!-- Forma de importar estilos no tan eficiente mejor en el archivo CSS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    -->
    <link rel="icon" type="image/x-icon" href="/img/logoFace.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/userProfile.css"> <!--Enlazar HTML y CSS-->

</head>
<body>    
      <!-- HEADER-->
  <%- include('partials/header') %>

  <section class="user-information">
      <div class="user-information-container">

        <h1>Perfil de Usuario</h1>
        <div class="image-container">
            <img src="/img/profilePictures/<%= user.profilePicture%> ">
         </div>
         
         <div class="user-info">
             <div class="user-info-text">
                 <h2>Nombre completo</h2>
                 <p> <%= user.fullname %> </p>
             </div>
             <div class="user-info-text">
                 <h2>Nombre de usuario</h2>
                 <p> <%= user.userName %> </p>
             </div>
             <div class="user-info-text">
                 <h2>Email</h2>
                 <p><%= user.email %>  </p>
             </div>         
         </div>
      </div> 
   
       
  </section>   
 
 <!--FOOTER-->
 
<%- include('partials/footer') %> 
 
    
</body>
</html>