<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Forma de importar estilos no tan eficiente mejor en el archivo CSS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!--Libreria fontawesome-->
    <link rel="stylesheet" href="/css/register.css"> <!--Enlazar HTML y CSS-->

</head>
<body>    
      <!-- HEADER-->
  <%- include('partials/header') %>

    <main class="register">
        <h3>Crear cuenta</h3>
        <% if(locals.errors) { %>
            <% errors.forEach(error => { %>
                
                <i class="fa-regular fa-circle-x"></i><p class="feedback"><%= error.msg%> </p>
                
        <%})%>

        <%
            }
         %> 
        
        <form method="POST" action="/user/register" enctype="multipart/form-data">
            <label for=""></label>

            <input type="text" placeholder="Nombre completo"  name="fullname" value="<%=locals.old && old.fullname ? old.fullname :'' %>">
            <input type="text" placeholder="Nombre de Usuario"  name="username" value="<%=locals.old && old.username ? old.username:'' %>">            
            <input type="email" placeholder="Email"  name="email" value="<%= locals.old && old.email ? old.email : '' %> ">
            <label for="profilePicture">Imagen perfil</label>
            <input  type="file" name="profilePicture" id="profilePicture" accept=".jpg" >        
            <input type="password" placeholder="Constraseña"  name="password">
            <input type="password" placeholder="Repite tu contraseña"  name="re_password">
            <div class="buttons">
                <input type="submit" value="Enviar" class="btn">
                <input type="reset" value="Resetear Datos" class="btn">
            </div>
        </form>
    </main>
    
    <!-- FOOTER-->
   <%- include('partials/footer') %>
    
</body>
</html>